$color-primary: #000;
$color-secondary: #838383;
$color-third: #757575;
$color-active-text: #fff;
$color-navigation: #9197B3;
$color-active:#5932EA;
$color-subtitle:#16C098;
$color-background: #FAFBFF;
$color-input-background: #F9FBFF;
$color-background-secondary: #FFF;
$color-table-head: #B5B7C0;
$color-table-line: #EEE;
$color-table-content: #292D32;
$color-acrive-text: #008767;
$color-active-border: #00B087;
$color-active-backround: rgba(22, 192, 152, 0.38);
$color-inactive: #DF0404;
$color-inactive-backround: #FFC5C5;
